<%= link_to('Login', new_user_session_path) %> 
<%= link_to_if(user_signed_in?, "Login", new_user_session_path) %>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
<%= link_to('Signup', new_user_registration_path) %> 

<h1><%= @message %></h1>
